/* ------BASE STYLING------ */

.navbar a:hover {
  text-decoration: underline;
}
.navbar-brand, .nav-link {
  font-size: clamp(1rem, 2vw, 2rem);
  color: red;
}

/* ------HOME STYLING------ */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home {
  height: 85vh;
}

.home a {
  margin: 0 50px;
}

.home h1 {
  margin: 20px;
  font-size: clamp(2rem, 4vw, 5rem);
}

.sunglasses {
  height: 30vh;
  position: absolute;
  top: 110px;
  opacity: 0;
  transition: opacity 1s;
}

.sunglasses:hover {
  cursor: pointer;
}

.saltshaker {
  height: 60vh;
}

.saltshaker:hover {
  cursor: pointer;
}

.buttons_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons_container a {
  font-size: clamp(1rem, 2vw, 2rem);
  width: min(50%, 250px);
  box-sizing: border-box;
}

/* ------PHOTOS STYLING------ */

.photo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.photo {
  min-width: 200px;
  width: 15vw;
  height: 50vh;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid transparent;
  /* margin:20px; */
}

.photo:hover {
  border: 3px solid rgb(50, 251, 226);
}

/* ------PHOTO STYLING------ */

.mainphoto {
  height: 60vh;
  border-radius: 10px;
}

figure img {
  margin: 10px;
}

.main-photo-page button {
  margin: 10px;
}
