<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.css">
  <link rel="stylesheet" href="./static/style.css">
  <title>Saltly</title>
</head>
<body>
  <div id="container" class="container col-12">
    <nav class="navbar bg-primary navbar-expand-sm" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Saltly</a></span>
        <ul class="nav navbar-right" id="navbarColor01">
          <li class="nav-item">
            <a class="nav-link text-white" href='/addphoto'>Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href='/photos'>Photos</a>
          </li>
        </ul>
      </div>
    </nav>

    {% for message in get_flashed_messages() %}
      <div class="alert">{{message}}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    {% block base_js %}
    {% endblock %}
  </div>
</body>
</html>