{% extends 'base.html' %}

  {% block content %}
    <div class="home">
      <h1>Welcome to Saltly</h1>
      <img class="sunglasses" src="./static/sunglasses.svg" alt="sunglasses">
      <img class="saltshaker" src="./static/saltshaker.svg" alt="salt shaker">
      <div class="buttons_container">
        <a class="btn btn-secondary" href="/addphoto">Add Salt</a>
        <a class="btn btn-secondary" href="/photos">View Salt</a>
      </div>
    </div>

    <script>
      const shades = document.querySelector(".sunglasses");
      const salt = document.querySelector(".saltshaker");

      salt.addEventListener("click", function() {
        shades.setAttribute("style", "opacity:1")
      })

      shades.addEventListener("click", function() {
        shades.setAttribute("style", "opacity:1")
      })
    </script>
  {% endblock %}