{% extends 'base.html' %}

{% block content %}
  <div>
    <h1>{{ photo.title }}</h1>
    <figure>
      <img
        src="{{ photo.s3_photo_url_display }}"
        alt="photo of {{ photo.title }}"/>
      <figcaption>{{photo.caption}}</figcaption>
    </figure>

  </div>
  <button id="edit-button">Edit</button>
  <form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

      <div class='mb-3'>

        {{ field.label }}

        {% if field.type == "BooleanField" %}

          {{ field(class="form-check-input") }}

        {% elif field.type == "SelectField" %}

          {{ field(class="form-select") }}

        {% else %}

          {{ field(class="form-control") }}

        {% endif %}

        <span>
          {% if field.errors %}
            {% for error in field.errors %}
              <b class="text-danger">{{ error }}</b>
            {% endfor %}
          {% endif %}
        </span>

      </div>

    {% endfor %}
    <button class="btn btn-primary" type="submit">Save</button>
  </form>

{% endblock %}



{# Could use to put in JS later #}
{# {% block base_js %}
  <script>
      "use strict";

      document.getElementById("edit-button").onclick(function(e) {
        console.log("show the form please");
        e.target.style(visibility = visible);
      })

      console.log("hello from script.js");
  </script>

{% endblock %} #}

