{% extends 'base.html' %}

{% block content %}
  <div class="main-photo-page">
    <figure class="text-center mh-10">
      <h1 class="text-center">{{ photo.title }}</h1>
      <img
        class="mainphoto"
        src="{{ photo.s3_photo_url_display }}?t={{ timestamp }}"
        alt="photo of {{ photo.title }}"/>
      <figcaption class="text-center">{{photo.caption}}</figcaption>
    </figure>


    <button id="edit-button" class="btn btn-primary">Edit</button>
    <form method="POST" id="edit-form" style="display: none">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}

        <div class='mb-3'>

          {{ field.label }}

          {% if field.type == "BooleanField" %}

            {% if field.data == True %}

              {{ field(class="form-check-input", disabled=true) }}

            {% else %}

              {{ field(class="form-check-input") }}

            {% endif %}


          {% elif field.type == "SelectField" %}

            {{ field(class="form-select") }}

          {% else %}

            {{ field(class="form-control") }}

          {% endif %}

          <span>
            {% if field.errors %}
              {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
              {% endfor %}
            {% endif %}
          </span>

        </div>

      {% endfor %}
      <button class="btn btn-primary" type="submit">Save</button>
      <button id="close-button" class="btn btn-danger" type="button">Close</button>
    </form>
  </div>
  <script>
    const editBtn = document.getElementById('edit-button');
    const closeBtn = document.getElementById('close-button');
    const editForm = document.getElementById('edit-form');

    editBtn.addEventListener("click", function(e) {
      e.preventDefault();
      e.target.style.display = 'none';
      editForm.style.display = 'block';
    })
    closeBtn.addEventListener("click", function(e) {
      e.preventDefault();
      editForm.style.display = 'none';
      editBtn.style.display = 'block';
    })
  </script>

{% endblock %}



{# Could use to put in JS later #}
{# {% block base_js %}
  <script>
      "use strict";

      document.getElementById("edit-button").onclick(function(e) {
        console.log("show the form please");
        e.target.style(visibility = visible);
      })

      console.log("hello from script.js");
  </script>

{% endblock %} #}

